@import "tailwindcss";

@theme {
  --font-heading: "Caveat Brush", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;

  --text-h1: 38px;
  --text-p: 16px;

  /* Colors */
  --color-primary: #1a3952;
  --color-secondary: #ff6b35;
  --color-green: #2c6a4f;
  --color-pink: #fff8e7;
  --color-muted: #ffffff99;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    font-family: var(--font-body);
  }

  /* Mobile */
  h1 {
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }

  h2 {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-secondary);
  }

  p {
    font-family: var(--font-body);
    font-size: 12px;
    line-height: 1.35;
    font-weight: 400;
  }

  /* Tablet >= 768px */
  @media (min-width: 768px) {
    h1 {
      font-size: 28px;
      line-height: 38px;
    }

    h2 {
      font-size: 22px;
      line-height: 30px;
    }

    p {
      font-size: 16px;
    }
  }

  /* Desktop >= 1024px */
  @media (min-width: 1024px) {
    h1 {
      font-size: var(--text-h1);
      line-height: 62px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-size: var(--text-p);
    }
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
